@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.App {
  text-align: center; }

.App-h1 {
  font-size: 4em;
  font-family: "Poiret One", cursive;
  margin-bottom: 4rem;
  font-weight: 400; }
